<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
</head>
<body>
    {{>header}}
    <h1>Welcome to Book App! :)</h1><br>
    <h2>Recently added books</h2>

    {{#each books as |value key|}}
        <span>
            <img src="/books/images/{{value._id}}" height="150" width="150" alt="book cover">
            <h3>{{value.title}}</h3>
        </span>
    {{/each}}

    
</body>
<script src="/js/app.js"></script>
</html>
