<body>
  <div>
    <label for="title">Title</label>
    <input
      type="search"
      id="title"
      name="title"
      value="{{searchOptions.title}}"
    />
  </div>
  <div>
    <label for="publishDateBefore">Publish Date Before</label>
    <input
      type="date"
      id="publishDateBefore"
      name="publishDateBefore"
      value="{{searchOptions.publishDateBefore}}"
    />
  </div>
  <div>
    <label for="publishDateAfter">Publish Date on or After</label>
    <input
      type="date"
      id="publishDateAfter"
      name="publishDateAfter"
      value="{{searchOptions.publishDateAfter}}"
    />
  </div>

</body>