<div>
    <label for="name">Title</label>
    <input type="text" id="name" name="title">
</div>
<div>
    <label for="author">Author</label>
    <select name="author" id="author">
        <option label="Select..."></option>
        {{#each authors as |value key|}}
        <option label="{{value.name}}" value="{{value._id}}"></option>
        {{/each}}
</select>
</div>
<div>
    <label for="createdDate">Created Date</label>
    <input type="date" id="createdDate" class="date" name="createdDate">
</div>
<div>
    <label for="pageCount">Page Count</label>
    <input type="number" id="pageCount" name="pageCount">
</div>
<div>
    <label for="coverImageTitle">Cover Image</label>
    <input type="text" id="coverImageTitle" name="coverImageTitle">
</div>

<div>
    <label for="date">Publish Date</label>
    <input type="date" id="date" class="date" name="publishDate">
</div>
<div>
    <label for="description">Description</label>
    <input type="text" id="description" name="description">
</div>
