<header>
    <a href="/"><h1 id="header">Book-APP</h1></a>
    <ul id="header-links">
        <li><a href="/authors">All Authors</a></li>
        <li><a href="/authors/new">Create new Author</a></li>
        <li><a href="/books">All Books</a></li>
        <li><a href="/books/new">Create new Book</a></li>
    </ul>
</header>