<header>
    <a href="/"><h1 id="header">Book-APP</h1></a>
    <nav>
        <ul id="header-links">
        <li><a href="/authors">Authors</a></li>
        <li><a href="/authors/new">Add Author</a></li>
        <li><a href="/books">Books</a></li>
        <li><a href="/books/new">Add Book</a></li>
        </ul>
    </nav>
    
</header>