
<body>
    <h2 class="page-header">Search Book</h2>

    <form action="/books" method="GET">
    {{>_formSearchBook}}
    <button class="btn btn-primary" type="submit">Search</button><br>
    <button class="btn btn-primary" id="clear-search">Clear filer</button>
    </form><br>

    <div id="all-books">
        {{#if books}}
            {{#each books as |value key|}}
                <span id="book-records">
                    <a href="/books/show/{{value._id}}">
                    <img src="/books/images/{{value._id}}" height="150" width="150" alt="book cover">
                    </a>
                    <h3>{{value.title}}</h3>
                </span>
            {{/each}}

        {{else}}
            <h4>No Books found! Please add book details or change search criteria.</h4>        
        {{/if}}
    </div>
</body>

