<form action="/register" method="post">
  <input type="text" name="name" placeholder="name" /><br />
  <input type="email" name="email" placeholder="email" /><br />
  <input type="password" name="password" placeholder="password" /><br />
  <input type="password" name="name" placeholder="confirm password" /><br />
  <button type="submit">Register</button>
</form>