
<body>
    <h2 class="page-header">Edit Book</h2>

    <form action="/books/update/{{book._id}}?_method=PATCH" class="booksform" method="POST" enctype="multipart/form-data">

        {{>bookForm}}

        <a href="/books/show/{{book._id}}">Cancel</a>
        <button type="submit">Update</button>
        
    </form>
</body>
