<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    {{>header}}
    <h2>Search Book</h2>

    <form action="/books" method="GET">
    {{>_formSearchBook}}
    <button type="submit">Search</button> 
    <button id="clear-search">Clear filer</button>
    </form><br>

    <div id="all-books">
        {{#if books}}
            {{#each books as |value key|}}
                <span id="book-records">
                    <img src="http://localhost:3000/books/images/{{value._id}}" height="150" width="150" alt="book cover">
                    <h3>{{value.title}}</h3>
                </span>
            {{/each}}

        {{else}}
            <h4>No Books found! Please add book details or change search criteria.</h4>        
        {{/if}}
    </div>
    
<script src="/js/app.js"></script>
</body>
</html>
