<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    {{>header}}
    <h1>All Authors</h1>
    <form action="/authors" method="GET">
        {{>_formSearch}}
        <button type="submit">Search</button>
    </form>

    <div id="all-authors">
        {{#each authors as |value key|}}
            <div>{{value}}</div>
        {{/each}}
    </div>

</body>
</html>